<!DOCTYPE html>
<html lang="zxx">


<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Swift Cart</title>

    <!-- ::::::::::::::Favicon icon::::::::::::::-->
    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">


    <!-- ::::::::::::::All CSS Files here :::::::::::::: -->
    <!-- Vendor CSS -->
    <!-- <link rel="stylesheet" href="assets/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/vendor/ionicons.css">
    <link rel="stylesheet" href="assets/css/vendor/simple-line-icons.css">
    <link rel="stylesheet" href="assets/css/vendor/jquery-ui.min.css"> -->

    <!-- Plugin CSS -->
    <!-- <link rel="stylesheet" href="assets/css/plugins/swiper-bundle.min.css">
    <link rel="stylesheet" href="assets/css/plugins/animate.min.css">
    <link rel="stylesheet" href="assets/css/plugins/nice-select.css">
    <link rel="stylesheet" href="assets/css/plugins/venobox.min.css">
    <link rel="stylesheet" href="assets/css/plugins/jquery.lineProgressbar.css">
    <link rel="stylesheet" href="assets/css/plugins/aos.min.css"> -->

    <!-- Main CSS -->
    <!-- <link rel="stylesheet" href="assets/sass/style.css"> -->

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <link rel="stylesheet" href="/assets/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="/assets/css/plugins/plugins.min.css">
    <link rel="stylesheet" href="/assets/css/style.min.css">


     <style>
        .default-form-box, .checkbox-default {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
        }
        .default-form-box label, .checkbox-default label {
            flex: 1;
        }
        .default-form-box .edit-btn, .checkbox-default .edit-btn {
            margin-left: 10px;
            cursor: pointer;
        }
        .default-form-box input, .checkbox-default input, .input-radio input {
            flex: 2;
            margin-left: 10px;
        }
        .input-radio {
            display: flex;
            align-items: center;
        }
        .input-radio span {
            margin-right: 10px;
        }
        
        /* Style for disabled inputs */
        .input-disabled {
            background-color: #f0f0f0; /* Light gray for disabled state */
        }
        
        /* Style for enabled inputs */
        .input-enabled {
            background-color: #ffffff; /* Light cyan for enabled state */
            border: 1px solid #000000; /* Darker cyan border for visibility */
        }
            .default-form-box {
            display: block;
            margin-bottom: 20px;
        }

        .default-form-box input {
            display: block;
            width: 100%;
            margin-bottom: 5px;
        }

        .default-form-box p {
            margin-top: 5px;
            color: red;
            font-size: 12px;
            display: block;
        }

    </style>
   
   <style>
    .address-card {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    position: relative;
}

.address-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.address-type {
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 12px;
}

.address-actions {
    position: relative;
}

.action-button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.action-button:focus + .dropdown-content,
.dropdown-content:hover {
    display: block;
}

.address-body {
    margin-top: 10px;
}

.address-body strong {
    display: block;
    margin-bottom: 5px;
}

.address-body p {
    margin: 0;
    line-height: 1.5;
}

</style>

</head>


<body>