<%-include("../layouts/adminEditCategory.ejs") %>


<div class="content">
    <div class="header">
        <h1>Add Category</h1>
    </div>

    <form action="/admin/verifyCategories" method="POST">
        <div class="form-group">
            <label for="name">Category Name</label>
            <input type="text" name="name" value="<%= locals.name %>" class="form-control" id="name" placeholder="Enter category name">
            <p class="error-message"><%= locals.invalidName ? locals.invalidName : "" %></p>
        </div>
        <button type="submit" class="btn btn-primary">Add Category</button>
    </form>

    <br>
   <a href="/admin/categories"> <button type="submit" class="btn btn-primary">Go Back</button></a>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



<%-include("../layouts/footer.ejs") %>
